**/target/
**/.idea/
*.iml
**/*.jar
**/*.iml
*.class
**/*.class
*Test.java
*.yml
*.properties
**/test/
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEA
.idea/
*.iws
*.iml
*.ipr

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# 前端相关
**/node_modules/
**/dist/
**/.hbuilderx/